/*----------------------------Universal Styles----------------------------------------*/
body {
    background-color: #F4F1DE;
}

a {
    text-decoration: none;
    color: red;
}

a:hover {
    text-decoration: none;
    color: purple;
}

.custom-btn {
    background-color: #3D405B;
    color: black;
}

.custom-btn:hover {
    background-color: blue;
    transition: 0.5s;
}


/*-------------------------------Navigation bar-------------------------------------*/
.navbar-custom {
    background-color: #3D405B;
}


/*-------------------------------Home Page-------------------------------------*/
.adjust-line-height {
    line-height: 1em;
}

/*multi line text truncation*/
.text-overflow-clamp {
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /*truncate after 2 lines*/
    display: -webkit-box;
}

.profile-image {
    width: auto;
    height: 40px;
    border-radius: 50%;
}




/*---------------------------------Idea Page-----------------------------------*/

.date-indent {
    text-indent: 25px;
}






/*-----------------------------New Idea Page---------------------------------------*/







/*-------------------------------Author Page-------------------------------------*/







/*--------------------------------------------------------------------*/