{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="row justify-content-center m-5">
    <div class="col-lg-6 col-md-9 col-sm-12">
        <div class="card login-card">
            <div class="card-body">
                <form method="post" class="form">
                    {% csrf_token %}
                    <h3 class="card-title text-center my-5">Login</h3>
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {% for error in form.non_field_errors %}
                                <strong>{{ error }}</strong><br>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                            </div>
                            {% render_field form.username placeholder="Enter email" class+="form-control" %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="bi bi-lock"></i></span>
                            </div>
                            {% render_field form.password placeholder="Enter password" class+="form-control" %}
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                    <div class="form-group">
                        <p class="text-center">Don't have an account? <a href="{% url 'signup' %}">Signup here</a>
                           </p> 
                       </div>
                    <div class="form-group">
                        <p class="text-center"><a href="{% url 'password_reset' %}">Forgot password?</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}