{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center m-5">
    <div class="col-lg-6 col-md-9 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Reset your password</h3>
          <p>We have sent you an email with a link to reset your password. Please follow the instructions.</p>
          <a href="{% url 'login' %}" class="btn btn-custom btn-block">Return to log in</a>
        </div>
      </div>
    </div>
</div>
{% endblock %}