{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h3>{{ author.user.username }}</h3>
    <p>Joined: {{ author.joined }}</p>
    <p>Ideas Published: {{ number_of_ideas_published }}</p>
    
    <div class="d-flex justify-content-between mb-2">
        <h4>My Ideas</h4>
        <a href="{% url 'ideas:new_idea' %}" class="btn btn-dark">New Idea</a>
    </div>
    
    {% if ideas %}

        {% include 'idea_card_format.html' %}

    {% else %}
    <div class="mb-1">
            <p class="card-text text-center"><b>You have not posted any ideas.</b></p>
    </div>
    {% endif %}
</div>

{% endblock %}