{% extends 'base.html' %}

{% block title %}Author{% endblock %}

{% block content %}
<h3>{{ author.user.username }}</h3>
<p>Joined: {{ author.joined }}</p>
<p>Ideas Published: {{ number_of_ideas_published }}</p>
<br>
<a href="{% url 'ideas:new_idea' %}" class="btn btn-dark">New Idea</a>


<h5>My Ideas</h5>
{% for idea in ideas %}
<table class="table">
    <thead class="thead-inverse text-center">
        <tr>
            <th>Title</th>
            <th>Idea</th>
            <th>Rating</th>
            <th>Votes</th>
            <th>Comments</th>
            <th>Posted</th>
         </tr>
    </thead>
    <tbody>
        <tr class="text-center">
            <td>{{ idea.title }}</td>
            <td>{{ idea.idea }}</td>
            <td>{{ idea.rating }}</td>
            <td>{{ idea.votes }}</td>
            <td>{{ idea.comments }}</td>
            <td>{{ idea.date_posted }}</td>
        </tr>
    </tbody>
</table>

{% empty %}

<p>You have not posted any ideas</p>

{% endfor %}


{% endblock %}