<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <title>{% block title %}Rate My Idea{% endblock %}</title>
</head>
<body>

<div class="p-3 bg-dark text-white">
    <h3>Rate My Idea</h3>
</div>


{% block content %}
{% endblock %}


<div class="mt-5 p-3 bg-dark text-white text-center">
<p>Footer</p>
</div>

</body>
</html>