{% extends 'base.html' %}

{% block content %}

<div class="container">
    <a href="{% url 'ideas:new_idea' %}" class="btn btn-dark mt-3 mb-2">New Idea</a>
    <div class="row d-flex">
        <div class="col-md-10 col-sm-12">
            {% if ideas %}
            {% for idea in ideas %}
            <div class="card mb-1">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <h2 class="card-title"><a href="{% url 'ideas:idea' idea.slug %}">{{ idea.title }}</a></h2>
                        {% if idea.average_rating %}
                            <h6>Rating: {{ idea.average_rating|floatformat:1 }}/10</h6>
                        {% else %}
                            <h6>Rating: -/10</h6>
                        {% endif %} 
                    </div>
                    <p class="card-text text-overflow-clamp">{{ idea.idea }}</p>
                    <div class="d-flex align-items-center justify-content-between">
                        <a class="text-muted d-flex" href="{% url 'ideas:author' idea.author.username %}">
                            <img class="profile-image" src="" alt="profile-avatar">
                            <p>{{ idea.author.username }} ({{ idea.date_posted|timesince }} ago)</p>
                        </a>
                        <div class="adjust-line-height">
                            <p>5 comments <i class="bi bi-chat"></i></p>
                            <p>{{ idea.votes }} votes <i class="bi bi-bar-chart"></i></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-text">There are curently no ideas to rate. Click on 'New Idea' to add one</p>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-md-2 col-sm-12">
            <h4>Topics</h4>
            <div class="d-flex">
                <a href="#" ><i class="bi bi-plus"></i>Idea</a>
            </div>
        </div>
    </div>
</div>



{% endblock %}

