{% extends 'base.html' %}


{% block title %}Rate My Idea{% endblock %}

{% block content %}
<br>
<a href="{% url 'ideas:new_idea' %}" class="btn btn-dark">New Idea</a>
<br>


<div class="container">
    <div class="row">
        <table class="table">
            <thead class="thead-inverse text-center">
                <tr>
                    <th>Title</th>
                    <th>Idea</th>
                    <th>Average Rating</th>
                    <th>Votes</th>
                    <th>Author</th>
                    <th>Date Posted</th>
                </tr>
            </thead>
            <tbody>
                {% if ideas %}
                {% for idea in ideas %}
                <tr class="text-center">
                    <td><a href="{% url 'ideas:idea' idea.slug %}">{{ idea.title }}</a></td>
                    <td>{{ idea.idea }}</td>
                    {% if idea.average_rating %}
                        <td>{{ idea.average_rating|floatformat:1 }}</td>
                    {% else %}
                        <td>Not Rated</td>
                    {% endif %}
                    <td>{{ idea.votes }}</td>
                    <td><a href="{% url 'ideas:author' idea.author.username %}">{{ idea.author.username }}</a></td>
                    <td>{{ idea.date_posted }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <p>There are curently no ideas to rate. Click on 'New Idea' to add one</p>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>



{% endblock %}

