{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load custom_filters %}

{% block content %}

<div class="container">
	<div class="row d-flex justify-content-between mt-3">
		<div>
			<a href="{% url 'ideas:author' idea.author.username %}" class="d-flex">
				<img class="profile-image" src="" alt="profile-avatar">
				<h3>{{ idea.author.username }}</h3>
			</a>
			<p class="text-indent text-muted">{{ idea.date_posted }}</p>
		</div>
		<div class="border border-dark rounded">
			{% if rating|is_numeric %}
				<h5>Rating {{ rating|floatformat:1 }}/10</h5>
			{% else %}
				<p>Be the first to rate this idea</p>
			{% endif %}
			<form method="post">
				{% csrf_token %}
				{{ rating_form|crispy }}
				{% if user_rating_value %}
					<p class="text-success">You rated this {{ user_rating_value }}/10</p>
				{% endif %}

				{% if user.is_authenticated %}
					<button type="submit" class="btn custom-btn">Submit</button>
				{% else %}
					<a href="{% url 'users:login' %}?next={{ request.path }}" class="btn custom-btn">Login</a>
				{% endif %}
			</form>
		</div>
	</div>

	<h4>{{ idea.title }}</h4>
	<p class="pb-3">{{ idea.idea }}</p>
	<h5>Comments:</h5>
	<div class="row">
		{% if comments %}
		<div class="col-lg-12">
			{% for comment in comments %}
			<div class="d-flex mb-2">
				<img class="profile-image pr-2" src="https://images3.alphacoders.com/690/thumb-1920-690494.jpg" alt="profile-avatar">
				<div class="card w-100">
					<div class="card-body">
						<div class="d-flex justify-content-between">
							<a href="#">
								<h5 class="card-title">{{ comment.author.username }}</h5>
							</a>
							<p class="text-muted"><i class="bi bi-clock"></i> {{ comment.date_commented|timesince }} ago</p>
						</div>
						<p class="card-text">{{ comment.comment }}</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		{% else %}
		<div class="col-lg-12">
			<p class="text-indent">Be the first to comment.</p>
		</div>
		{% endif %}
	</div>
	<div class="row">
		<form method="post" class="col-lg-12">
			{% csrf_token %}
			{{ comment_form|crispy }}
	
			{% if user.is_authenticated %}
				<button type="submit" class="btn custom-btn">Submit</button>
			{% else %}
				<a href="{% url 'users:login' %}?next={{ request.path }}" class="btn custom-btn">Login</a>
			{% endif %}
		</form>

	</div>

</div>


{% endblock %}