{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}Idea{% endblock %}

{% block content %}

<div class="container">
<div class="row d-flex justify-content-between">
	<div>
		<h1>{{ idea.author.username }}</h1>
		<h5 style="text-indent: 25px;">Date: {{ idea.date_posted }}</h5>
	</div>
	<div class="border border-dark rounded">
		{% if rating|is_numeric %}
			<h5>{{ rating|floatformat:1 }}/10</h5>
		{% else %}
			<p>Be the first to rate this idea</p>
		{% endif %}
		<form method="post">
			{% csrf_token %}
			{{ rating_form.as_p }}

			{% if user.is_authenticated %}
				{% if user_has_rated %}
					<button type="submit" class="btn btn-primary">Resubmit</button>
				{% else %}
					<button type="submit" class="btn btn-primary">Submit</button>
				{% endif %}
			{% else %}
				<a href="{% url 'users:login' %}?next={{ request.path }}" class="btn btn-primary">Login</a>
			{% endif %}
		</form>
	</div>
</div>
</div>
<h5>{{ idea.title }}</h5>
<p class="border border-dark rounded m-3 pb-5">{{ idea.idea }}</p>
<h4>Comments:</h4>

{% if comments %}

	{% for comment in comments %}
		<h5 style="text-indent: 25px;">{{ comment.author.username }} ({{ comment.date_commented }})</h5>
		<p class="border border-dark m-3 pb-4">{{ comment.comment }}</p>
	{% endfor %}

{% else %}
    <h4>Be the first to comment.</h4>
{% endif %}

<form method="post">
	{% csrf_token %}
	{{ comment_form.as_p }}

	{% if user.is_authenticated %}
		<button type="submit" class="btn btn-primary">Submit</button>
	{% else %}
		<a href="{% url 'users:login' %}?next={{ request.path }}" class="btn btn-primary">Login</a>
	{% endif %}
</form>

{% endblock %}