<div class="row d-flex">
    {% if ideas %}
    <div>
        {% for idea in ideas %}
        <div class="card mb-1">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <h2 class="card-title"><a href="{% url 'ideas:idea' idea.slug %}">{{ idea.title }}</a></h2>
                    <h6>Rating: {{ idea.average_rating }}/10</h6>
                </div>
                <p class="card-text text-overflow-clamp">{{ idea.idea }}</p>
                <div class="d-flex align-items-center justify-content-between">
                    <a class="text-muted d-flex" href="{% url 'ideas:author' idea.author.username %}">
                        <img class="profile-image" src="" alt="profile-avatar">
                        <p>{{ idea.author.username }} ({{ idea.date_posted }})</p>
                    </a>
                    <div class="adjust-line-height">
                        <p>{{ idea.number_of_comments }} comments <i class="bi bi-chat"></i></p>
                        <p>{{ idea.votes }} votes <i class="bi bi-bar-chart"></i></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>