{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container-xl px-4 mt-4">
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-lg-8">
            <!-- Change password card-->
            <div class="card mb-4">
                <div class="card-header">Change Password</div>
                <div class="card-body">
                    <form method="post" action="{% url 'ideas:profile_security' request.user.username %}">
                        {% csrf_token %}
                        <!-- Form Group (current password)-->
                        <div class="mb-3">
                           {{ form.old_password|as_crispy_field }}
                           {{ form.old_password.errors }}
                        </div>
                        <!-- Form Group (new password)-->
                        <div class="mb-3">
                            {{ form.new_password1|as_crispy_field }}
                            {{ form.new_password1.errors }}
                        </div>
                        <!-- Form Group (confirm password)-->
                        <div class="mb-3">
                            {{ form.new_password2|as_crispy_field }}
                            {{ form.new_password2.errors }}
                        </div>
                        <button class="btn btn-primary" type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- Delete account card-->
            <div class="card mb-4">
                <div class="card-header">Delete Account</div>
                <div class="card-body">
                    <p>Deleting your account is a permanent action and cannot be undone. If you are sure you want to delete your account, select the button below.</p>
                    <button class="btn btn-danger-soft text-danger" type="button" data-toggle="modal" data-target="#deleteModal">
                    I understand, delete my account
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete account Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="threadModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form id="deleteForm" method="post" action="{% url 'ideas:delete_account' %}">
                    {% csrf_token %}
                    <div class="modal-header d-flex align-items-center bg-primary text-white">
                        <h6 class="modal-title mb-0" id="threadModalLabel">Delete Account</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Modal message -->
                        <div class="form-group">
                            Please confirm the deletion of your account by clicking the button below. Thank you for posting your ideas on our website. You can still continue to view other users' posts in the future.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" id="submitDelete">Permanently Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
