{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
    <div class="row">
      
      <!-- Profile page navigation-->
      {% include 'profile_navigation_bar.html' %}

       <div class="col-md-12">
          <div id="content" class="content content-full-width">
             <!-- begin profile-content -->
             <div class="profile-content">
                <!-- begin tab-content -->
                <div class="tab-content p-0">
                   <!-- begin #profile-post tab -->
                   <div class="tab-pane fade active show" id="profile-post">
                      <!-- begin timeline -->
                      <ul class="timeline">
                        {% if ideas %}
                        {% for idea, number_of_votes, number_of_comments in ideas %}
                         <li>
                            <!-- begin timeline-time -->
                            <div class="timeline-time">
                               <span class="date">{{ idea.date_posted }}</span>
                            </div>
                            <!-- end timeline-time -->
                            <!-- begin timeline-icon -->
                            <div class="timeline-icon">
                               <a href="javascript:;">&nbsp;</a>
                            </div>
                            <!-- end timeline-icon -->
                            <!-- begin timeline-body -->
                            <div class="timeline-body">
                               <div class="timeline-header d-flex justify-content-between">
                                <div>
                                    <span class="userimage"><img src="{{ author.image.url }}" alt="profile-image"></span>
                                    <span class="username"><a href="{% url 'ideas:idea' idea.slug %}">{{ idea.title }}</a> <small></small></span>
                                </div>
                                    <span class="pull-right text-muted">
                                    {% if idea.average_rating %}
                                       Rating: {{ idea.average_rating|floatformat:1 }}
                                    {% else %}
                                       Rating: -/10
                                    {% endif %}
                                    </span>
                               </div>
                               <div class="timeline-content">
                                  <p>
                                     {{ idea.idea }}
                                  </p>
                               </div>
                               <div class="timeline-likes">
                                  <div class="stats-right">
                                    <span class="stats-text">{{ number_of_votes }} Votes</span>
                                     <span class="stats-text">{{ number_of_comments }} Comments</span>
                                  </div>
                                  <div class="stats">
                                     {% if request.user.is_authenticated and request.user == author.user %}
                                     <form method="post" action="{% url 'ideas:delete_idea' idea.slug author.slug %}">
                                       {% csrf_token %}
                                       <button class="btn btn-danger-soft text-danger" type="submit">delete</button>
                                     </form>
                                     {% else %}
                                       <span class="stats-total"></span>
                                     {% endif %}
                                  </div>
                               </div>

                            </div>
                            <!-- end timeline-body -->
                         </li>
                         {% endfor %}
                         {% endif %}
                      </ul>
                      <!-- end timeline -->

                      {% if number_of_ideas_published %}
                        {% include 'pagination.html' %}
                      {% else %}
                        <div class="card col-6 mx-auto">
                           <div class="card-body">
                              <h3 class="card-title text-center">No ideas have been published</h3>
                           </div>
                        </div>
                      {% endif %}

                   </div>
                   <!-- end #profile-post tab -->
                </div>
                <!-- end tab-content -->
             </div>
             <!-- end profile-content -->
          </div>
       </div>
    </div>
 </div>



{% endblock %}