{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">

        <!-- Profile page navigation-->
        {% include 'profile_navigation_bar.html' %}
        
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header">About</div>
                <div class="card-body">
                    <div class="col-6">
                        <p>Date Joined: {{ author.joined }}</p>
                        <p>Ideas Published: {{ number_of_ideas_published }}
                        <p>Bio: {{ author.bio }}</p>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>

{% endblock %}